* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 { background-image: url("/imgs/jazz1.jpg"); }
.img2 { background-image: url("/imgs/jazz2.jpg"); }
.img3 { background-image: url("/imgs/jazz3.jpg"); }
.img4 { background-image: url("/imgs/jazz6.jpg"); }
